.seeMoreButton {
    color: rgb(7, 60, 235);
    border: 1px solid rgb(7, 60, 235);
    background-color: aliceblue;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
  }
  
  .seeMoreButton:hover {
    background-color: #bed4ec;
  }