.footer {
    margin-top: 30px;
    border-top: 1px solid rgb(160, 157, 154);
    padding: 50px;
    background-color: #8F3FBC;
}
.block_footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
}
.img_barcode_footer {
    margin-left: 10px;
}
.footer_left {
    width: 30%;
}
.footer_left > img {
    margin-bottom: 10px;
}
.company_address, .contact, .Email {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.address, .phone_number, .Email_contact {
    margin:7px;
    color: #000;
    color: #000;
    text-align: justify;
    
    /* Body/Body 1 */
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 18.9px */
}
.phone_number, .Email_contact {
    color: rgb(201, 181, 181);
    text-decoration: underline;
}
.footer_right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.footer_center {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.block_center > a {
    margin:7px;
    text-decoration: none;
    display: block;
    color: black;
    color: #000;

    /* Body/Body 1 */
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 18.9px */
}
a:hover {
    color: white;
}
.pay {
    color: #FFF;

    /* Button/Button 2 */
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
}
.category_pay {
    display: flex;
}
.category_pay > a > img {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin: 0 3px;
    height: 36px;
    width: 56px;
}
.text_footer {
    margin-top: 10px;
    text-align: center;
}
.contact > span > svg {
    color: rgb(201, 181, 181) !important;
}
.Email > span > svg {
    color: rgb(201, 181, 181);
}
.social_network {
    display: flex;
    align-items: center;
    margin-left: 3px;
}
.icon_netword {
    margin: 8px;
}
.icon_netword > span > svg {
    font-size: 25px;
}
.icon_netword > svg {
    font-size: 25px;
}
.img_login {
    margin-top: 10px;
}