.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    background-color: rgb(175, 42, 127);
}
.header_left {
    display: flex;
    align-items: center;
    height: 100%;
}