.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    flex-shrink: 0;
    background-color: #8F3FBC;
}
.header_left {
    display: flex;
    align-items: center;
    height: 100%;
}