
.search-input {
    display: flex;
    width: 215px;
    align-items: center;
    border: 1px solid #ccc;
    background-color:#8F3FBC;
    border-radius: 4px;
    padding: 5px;
    margin: 0 10px;
  }
  
  .search-input input {
    background-color: #8F3FBC;
    color: white;
    border: none;
    outline: none;
  }
  
  .search-icon {
    color: white;
    font-size: 20px;
    margin-right: 5px;
  }
  .option_language {
    margin: 0 20px;
  }
  .icon {
    display: flex;
    align-items: center;
    color: white;
  }
  .icon-option {
    background-color: red;
    border-radius: 50%;
  }
  .navbar {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    color: white;
    margin: 0;
  }
  li {
    margin: 0 20px;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .search {
    width: 100%;
  }
  .select {
    color: white;
    border: none; 
    background-color: #8F3FBC; 
    padding: 5px; 
    outline: none;
    cursor: pointer;
  }